@import "./reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

html,
body {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #444444;
}

#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}

.action-btn {
  padding: 6px 40px;
  border-radius: 5px;
  border: 1px solid #444;
  background: #fff;
  cursor: pointer;
}
